body {
  font: 14px sans-serif;
  text-align: center;
  width: 100vw;
  overflow-x: hidden; }

h2 {
  color: #fff; }

.form-control,
input {
  background: none !important;
  border: none;
  box-shadow: 0 0 0 0 transparent !important;
  color: #fff;
  border-bottom: 1px #fff solid;
  border-radius: 0;
  padding-left: 0px;
  padding-bottom: 0px; }

.form-control:focus {
  border-color: #fff; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #6fa3f7 inset !important;
  border: none;
  border-bottom: 1px #fff solid; }

.btn-primary {
  background: #ffde55 !important;
  border-bottom: solid 0px transparent !important; }

.btn-primary:hover {
  color: #fff !important; }

.bgContainer {
  height: 100vh;
  background-image: url("../images/BGimage.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.bgContainer.dashboard {
  height: 100% !important; }

.wrapper {
  padding-top: 20px;
  margin: 0 auto;
  width: 70%; }

span.help-block {
  float: left; }

form {
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-around; }

form div {
  width: 28vw;
  min-width: 250px;
  border-right: 20px solid transparent;
  margin-left: 20px; }

div.full-width,
p.full-width {
  width: 70%;
  padding-left: 20px;
  margin: 0 auto; }

p.full-width {
  color: #fff;
  position: absolute;
  bottom: 10vh; }
  p.full-width a {
    color: #fee47d; }

#drop_file_zone {
  background-color: #555;
  opacity: 0.7;
  border: #fee47d 2px solid;
  border-radius: 4px;
  min-width: 200px;
  width: 200px;
  height: 90px;
  padding: 8px;
  font-size: 18px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 30px; }
  #drop_file_zone p {
    min-width: 200px !important;
    padding: 0px;
    margin: 0px;
    margin-left: -50px; }
  #drop_file_zone input {
    width: 160px;
    border: 0px;
    text-align: center; }

#drag_upload_file {
  width: 25%;
  margin: 0 auto; }

#drag_upload_file p {
  text-align: center; }

#drag_upload_file #selectfile {
  display: none; }

input::placeholder {
  color: #ccc !important; }

input {
  color: #fff !important;
  background: none;
  border: 0;
  box-shadow: none;
  text-align: left;
  border-bottom: solid 1px #fff;
  width: 22em; }

input.btn {
  border-radius: 30px;
  width: 200px;
  margin: 0 auto; }
  input.btn .btn-primary {
    background-color: #fee47d !important;
    width: 150px;
    margin: 0 auto; }

img.profile_image {
  width: 30vw;
  Height: 100%;
  object-fit: cover;
  object-position: 0 10%; }

dashboard {
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 10vh;
  margin-bottom: 2vh; }
  dashboard > div {
    min-width: 280px;
    height: 310px;
    margin-bottom: 2vh;
    background: #bfd7f8;
    min-height: 200px;
    position: relative;
    font-size: 20px; }
  dashboard div#city {
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    width: 100%; }
  dashboard div#temp {
    position: absolute;
    top: 60px;
    left: 50%;
    width: 5em;
    text-align: center; }
  dashboard div#weather_condition {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 5em;
    text-align: center; }
  dashboard h2 {
    width: 100%;
    background: #fee47d;
    margin-top: 0px;
    font-size: 2.5vh;
    padding: 6px 0px 4px;
    color: #000; }
  dashboard div#weather_condition img {
    transform: scale(3, 3); }
  dashboard div#photos {
    position: relative;
    height: 280px; }
    dashboard div#photos div {
      position: absolute;
      margin-top: -7px;
      width: 100%; }
    dashboard div#photos img {
      width: 280px;
      height: 280px;
      object-fit: cover;
      object-position: 0 10%;
      margin-top: -4px; }

.info {
  width: 100% !important; }

#drop_file_zone p {
  margin-left: -75px; }

/******************PHOTO DASHBOARD*********************/
/******************PHOTO DASHBOARD*********************/
/******************PHOTO DASHBOARD*********************/
/******************PHOTO DASHBOARD*********************/
/******************PHOTO DASHBOARD*********************/
/******************PHOTO DASHBOARD*********************/
.photo_dashboard {
  height: 100vh; }
  .photo_dashboard .columns {
    display: flex;
    flex-flow: row wrap;
    width: 98vw;
    max-width: 900px;
    justify-content: space-around;
    margin: 0 auto;
    position: relative; }
  .photo_dashboard div.slide {
    position: absolute;
    width: 100%; }
  .photo_dashboard img {
    background: transparent;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 4px;
    object-position: 0 10%; }
  .photo_dashboard div.slide img {
    position: absolute;
    top: 0px;
    background: transparent;
    width: 100%;
    min-width: 280px; }
  .photo_dashboard h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    font-size: 100px;
    color: #fff;
    Display: none; }
  .photo_dashboard div.box {
    border: none;
    box-shadow: none;
    height: 100% !important; }
  .photo_dashboard div.slide_column {
    position: relative;
    min-width: 310px;
    max-height: 280px;
    overflow: hidden;
    margin-bottom: 20px; }
    .photo_dashboard div.slide_column img {
      position: absolute;
      top: 0px;
      max-width: 100%;
      left: 0px;
      object-fit: cover;
      border-radius: 4px;
      object-position: 0 10%; }
  .photo_dashboard .slide_column {
    height: 100vh; }
