$yellow : #fee47d;

body {
  font: 14px sans-serif;
  text-align: center;
}

h2{
  color:#fff;
}

.form-control,
input{
  background: none !important;
  border: none;
  box-shadow:0 0 0 0 transparent !important;
  color: #fff;
  border-bottom: 1px #fff solid;
  border-radius: 0;
  padding-left: 0px;
  padding-bottom: 0px;   
}

.form-control:focus{
  border-color :#fff;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #6fa3f7 inset !important;
  border: none;
  border-bottom: 1px #fff solid;
}

.btn-primary{
  background:#ffde55 !important;
  border-bottom:solid 0px transparent !important;
}
.btn-primary:hover{
  color:#fff !important;
}

.bgContainer {
  height: 100vh;
  background-image: url("../images/BGimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  padding-top: 20px;
  margin: 0 auto;
  width:70%;
}


span.help-block{
  float:left;
}

form{
  display:flex;
  flex-flow: row wrap;
  width:70vw;
  max-width:900px;
  margin:0 auto;
  justify-content: space-around;
}


form div{
  width:28vw;
  min-width:250px;
  border-right:20px solid transparent;
  margin-left:20px;
}

div.full-width,
p.full-width{
  width:70%;
  padding-left:20px;
  margin:0 auto;
}
p.full-width{
  color:#fff;
  a{
    color: $yellow;
  }
  position:absolute;
  bottom:10vh;
}


#drop_file_zone {
  background-color: #EEE;
  border: #999 5px dashed;
  width: 290px;
  height: 200px;
  padding: 8px;
  font-size: 18px;
  margin: 0 auto;
}

#drag_upload_file {
  width: 50%;
  margin: 0 auto;
}

#drag_upload_file p {
  text-align: center;
}

#drag_upload_file #selectfile {
  display: none;
}

input::placeholder {
  color: #ccc !important;
}

input {
  color: #fff !important;
  background: none;
  border: 0;
  box-shadow: none;
  text-align: left;
  border-bottom: solid 1px #fff;
  width: 22em;
}

input.btn {
  border-radius: 30px;
  width: 200px;
  margin: 0 auto;
  .btn-primary {
    background-color: #fee47d !important;
    width: 150px;
    margin: 0 auto;
  }
}

